/api/appsettings.json
/api/appsettings.Development.json
/api/.vs/api/FileContentIndex
/api/.vs/api/v17
/api/api.csproj.user
/api/obj/Debug/net8.0/api.AssemblyInfo.cs
/api/obj/Debug/net8.0/api.AssemblyInfoInputs.cache
